@using FarmCraft.Community.WebPortal.Components.FarmCraftAppBar
@using FarmCraft.Community.WebPortal.Components.FarmCraftDrawer
@using FarmCraft.Community.WebPortal.Pages.Login

@inherits MainLayoutBase

<PageTitle>FarmCraft.Community.WebPortal</PageTitle>

<MudThemeProvider Theme="FarmCraftTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <AuthorizeView>
            <Authorized>
                <FarmCraftAppBar />
                <FarmCraftDrawer />
                <div class="content">
                    @Body
                </div>
            </Authorized>
            <NotAuthorized>
                <Login />
            </NotAuthorized>
        </AuthorizeView>
    </MudMainContent>
</MudLayout>